In [1]:
pip install mysql.connector

Collecting mysql.connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
Building wheels for collected packages: mysql.connector
  Building wheel for mysql.connector (setup.py): started
  Building wheel for mysql.connector (setup.py): finished with status 'done'
  Created wheel for mysql.connector: filename=mysql_connector-2.2.9-cp38-cp38-win_amd64.whl size=247943 sha256=ed0d44e8f4b24ae19bfa0c5edd462020d165f8ff9731819705632e3b853f451d
  Stored in directory: c:\users\abhis\appdata\local\pip\cache\wheels\57\e4\98\5feafb5c393dd2540e44b064a6f95832990d543e5b4f53ea8f
Successfully built mysql.connector
Installing collected packages: mysql.connector
Successfully installed mysql.connector
Note: you may need to restart the kernel to use updated packages.

In [15]:
import pandas as pd
import mysql.connector as c

In [16]:
connection = c.connect(host= "localhost",user= "root", database = "IncubyteHospital")

In [18]:
cursor = connection.cursor(buffered=True)

In [19]:
query2 = "select * from IncubyteHospital.PATIENTS"

In [21]:
# executing cursor
cursor.execute(query2)

In [22]:
table_rows = cursor.fetchall()
print("Total Number of rows in table:", cursor.rowcount)

Total Number of rows in table: 4

In [23]:
df = pd.read_sql('SELECT * FROM patients', con=connection)  # fitting into pandas dataframe
df.set_index(['CUSTOMER_ID'], inplace=True)  # setting default index

In [24]:
df

,CUSTOMER_NAME,CUSTOMER_OPEN_DATE,LAST_CONSULTED_DATE,VACCINATION_TYPE,DOCTOR_CONSULTED,STATE,COUNTRY,DOB,FLAG
CUSTOMER_ID,,,,,,,,,
1,ABHI,2021-10-10,2021-10-10,CVS,HARI,UP,IND,1997-05-22,N
2,NEHA,2021-10-09,2021-10-09,CVS,HARI,SYDNE,AUS,1996-04-01,N
3,JAMES,2021-10-01,2021-10-01,CVS,HARI,SYDNE,AUS,1991-08-01,N
4,NAVIN,2021-09-01,2021-09-01,CVS,HARI,MP,IND,1967-08-01,N

In [33]:
country="IND"
def show_data(country):
    data = df.loc[df['COUNTRY'] == country]
    print(data)
show_data(country)

            CUSTOMER_NAME CUSTOMER_OPEN_DATE LAST_CONSULTED_DATE  \
CUSTOMER_ID
1                    ABHI         2021-10-10          2021-10-10
4                   NAVIN         2021-09-01          2021-09-01

            VACCINATION_TYPE DOCTOR_CONSULTED STATE COUNTRY         DOB FLAG
CUSTOMER_ID
1                        CVS             HARI    UP     IND  1997-05-22    N
4                        CVS             HARI    MP     IND  1967-08-01    N

In [77]:
def get_file(country):
    data = df.loc[df['COUNTRY'] == country]
    file_name = str(country)
   
    
    data.to_csv(country+".csv")
    print("File has been created to the specified path")

In [78]:
get_file("IND")

File has been created to the specified path