# Imporitng libraries

In [16]:
import pandas as pd
import mysql.connector as c

In [5]:
connection = c.connect(host= "localhost",user= "root", database = "IncubyteHospital")

In [6]:
cursor = connection.cursor(buffered=True)

In [7]:
query2 = "select * from IncubyteHospital.PATIENTS"

In [8]:
# executing cursor
cursor.execute(query2)

In [9]:
table_rows = cursor.fetchall()
print("Total Number of rows in table:", cursor.rowcount)

Total Number of rows in table: 4

In [10]:
df = pd.read_sql('SELECT * FROM patients', con=connection)  # fitting into pandas dataframe
df.set_index(['CUSTOMER_ID'], inplace=True)  # setting default index

In [11]:
df

,CUSTOMER_NAME,CUSTOMER_OPEN_DATE,LAST_CONSULTED_DATE,VACCINATION_TYPE,DOCTOR_CONSULTED,STATE,COUNTRY,DOB,FLAG
CUSTOMER_ID,,,,,,,,,
1,ABHI,2021-10-10,2021-10-10,CVS,HARI,UP,IND,1997-05-22,N
2,NEHA,2021-10-09,2021-10-09,CVS,HARI,SYDNE,AUS,1996-04-01,N
3,JAMES,2021-10-01,2021-10-01,CVS,HARI,SYDNE,AUS,1991-08-01,N
4,NAVIN,2021-09-01,2021-09-01,CVS,HARI,MP,IND,1967-08-01,N

In [12]:
country="IND"
def show_data(country):
    data = df.loc[df['COUNTRY'] == country]
    print(data)
show_data(country)

            CUSTOMER_NAME CUSTOMER_OPEN_DATE LAST_CONSULTED_DATE  \
CUSTOMER_ID
1                    ABHI         2021-10-10          2021-10-10
4                   NAVIN         2021-09-01          2021-09-01

            VACCINATION_TYPE DOCTOR_CONSULTED STATE COUNTRY         DOB FLAG
CUSTOMER_ID
1                        CVS             HARI    UP     IND  1997-05-22    N
4                        CVS             HARI    MP     IND  1967-08-01    N

In [13]:
def get_file(country):
    data = df.loc[df['COUNTRY'] == country]
    file_name = str(country)
   
    
    data.to_csv(country+".csv")
    print("File has been created to the specified path")

In [14]:
get_file("AUS")

File has been created to the specified path